html, body {
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}

body {
  background-color: #444;
}

#dialogs {
  position: absolute;
  width: 100%;
  height: 100%;
}

#dialogs[hidden] {
  display: none;
}

#dialogs .dialog[hidden] {
  display: none;
}

#gameinfo .dialog,
#dialogs .dialog {
  background-color: rgb(40,40,40);
  border: 1px solid #aaa;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  color: white;
}

#dialogs .dialog {
  background-color: rgba(40,40,40,0.6);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 500px;
}

h1, h2 {
  margin-top: 0;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

.table {
  display: table;
}

.table > * {
  display: table-row;
}

.table > * > * {
  display: table-cell;
}

.controls > * > * {
  text-align: center;
  width: 125px;
}

.table > .header > * {
  font-weight: bold;
  padding-bottom: 10px;
}

.controls > * > *:first-child {
  text-align: left;
}

/* Direction key styling */
.directionkeys {
  margin-left: auto;
  margin-right: auto;
}

.directionkeys > tbody > tr > td {
  border: 1px solid white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-spacing: 2px;
  text-align: center;
  width: 25px;
}

.directionkeys .empty {
  border: none;
}

#templates {
  display: none;
}

.fill {
  width: 100%;
}

.progress {
  border: 1px solid #888;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: black;
}

.progress > .bar {
  background-color: red;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 8px;
  width: 0;
}

.player span {
  white-space: nowrap;
}

#gameinfo .dialog {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  overflow: hidden;
  padding: 5px;
  width: 80%;
}

#wormy-game-list .game-list-name-column {
  display: none;
}
